# ignore dirs
build/
MNN/
.vscode/
.cached/
.cache/
libs/
include/MNN
resource/models/fp16/
resource/models/int8/
resource/models/int4/
src/chat
Debug/
Release
include/pthread.h
include/sched.h
include/semaphore.h

# ignore files
.DS_Store

# ignore tmp and models
**/tmp
resource/models
debug
!resource/models/*.ps1