# ignore dirs
build/
.vscode/
.cached/
.cache/
libs/
Debug/
Release
include/pthread.h
include/sched.h
include/semaphore.h
docs/_build/
.idea/
android/.idea/
android/.gradle
android/local.properties

# ignore files
.DS_Store
